*{
    box-sizing: border-box;
}

.bloque{
    margin: 0 auto;
    color:white;
    text-align: center;
    width: 800px;
}
.bloque--spacex{    
    background-color: #3B14AF;
    padding: 25px;
    border: 10px solid black;  
}
.bloque--nasa{
    background-color: #674E39;
    padding: 20px 10px;
    border: 2px solid black;  
}
.boton{
    border: 1px solid white;
    border-radius:5px;
    text-decoration: none;
    background-color: white;
    padding: 10px 30px;
    display: inline-block;
    margin: 20px 0;
}
.boton--spacex{
    background-color: #FFEE40;
    color:black;
    border: 1px solid #FFBE40;
}
.boton--nasa{
    background-color: #223E3E;
    color:white;
    border: 1px solid #111F1F;
}
.tabla{
    margin: 0 auto;
    text-align:center;
    width:800px;
    border: 1px solid black;
    border-radius:5px;
}
.celda_cabecera{
    border: 1px solid black;
    background-color: #6E6E6E;
    color: white;
}
.celda_interior{
    border: 1px solid black;
    background-color: #FAAC58;
    color: black;
}
