.contenedor{
    width: 350px;
 }
.cal,.red,.dia,.gray,.hoy{
    width: 48px;
    float: left;
    border: 1px solid black;
    padding: 15px 0;
 }
 .red{
    background-color: red;
    color: white;
 }
 .dia{
    background-color: lightgreen;
    color: black;
 }
 .gray{
    background-color: lightgray;
 }
 .hoy{
    background-color: blue;
 }

